.heading_lg{
    font-size: 44px;
    color: #FFF;
}

.heading_md{
    font-size: 32px;
    letter-spacing: -1px;
}

.heading_sm{
    font-size: 18px;
    font-weight: normal;
    color: $text-secondary;
}