%btn {
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
    line-height: 3.57;
    color: white;
    padding: 0 32px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
		animation-name: pulse-grow;
		animation-duration: 0.3s;
		animation-timing-function: linear;
		animation-iteration-count: 4;
		animation-direction: alternate;
	}
}

.btn-primary {
    @extend %btn;
    background-color: $primary-color;

    &:hover{
        background-color: darken($primary-color, 10%);
    }
}

.btn-secondary {
    @extend %btn;
    background-color: $secondary-color;

    &:hover{
        background-color: darken($secondary-color, 10%);
    }
}
